.profileCard {
    height: inherit;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.profileImage {
    height: calc(70vh - 80px);
    object-fit: cover;
}

.imageOverlay {
    height: 50vh;
}

.profileBody {
    height: calc(30vh - 80px);
}

.leftButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.rightButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}