.profileCard {
    height: inherit;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.profileImage {
    height: 50vh;
    object-fit: cover;
}

.profileBody {
    height: 30vh;
}

.deleteButton { 
    height: 7vh;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.animalBio {
    height: 15vh!important;
    overflow-x: hidden;
    padding: 0%;
    cursor: auto;
    resize: none;
    border: none;
    text-align: center;
    background: none!important;
}

.city {
    color:white;
    font-weight: bolder;
}

.imageOverlay {
    height: 50vh;
}

.leftButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 7vh;
}

.rightButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 7vh;
}

@media screen and (min-width: 768px) {
    .animalName, .city { 
      font-size: 1.75rem;
    }

    .animalDetails {
      font-size: 1.5rem;
    }

    .profileImage {
        object-fit: unset;
    }

    .animalBio {
        font-size: 1.25rem;
    }
    .deleteButton, .leftButton, .rightButton {
      height: 80px!important;
    }

    .leftButton, .rightButton {
        width: 80px!important;
    }

    .profileImage, .imageOverlay {
        height: 60vh;
    }

    .animalCity {
      font-size: 1.25rem;
    }
  }