.profileCard {
    height: inherit;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.profileImage {
    height: calc(70vh - 80px);
    object-fit: cover;
}

.profileBody {
    height: calc(30vh - 80px);
}

.deleteButton { 
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.animalBio {
    cursor: auto;
    resize: none;
    border: none;
    text-align: center;
    background: none!important;
}

/* .animalBio::-webkit-scrollbar {
    -webkit-appearance: visible;
    width: 7px;
}

.animalBio::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
} */

.city {
    color:white;
    font-weight: bolder;
}

.imageOverlay {
    height: 50vh;
}
.leftButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.rightButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}